<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>欢迎回来！</h1>
    <!--<table>
        <tr>
            <td>序号</td>
            <td>ID</td>
            <td>姓名</td>
        </tr>
        <tr th:each="user,stat:${list}">
            <td th:text="${stat.count}"></td>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
        </tr>
    </table>

    <div>
        <p th:text="${username}"></p>
        <span th:text="'欢迎回来, '+${username}+'!'"></span><br>
        <span th:text="|欢迎回来,  ${username}!|"></span>
    </div>

    <span th:if="${flag == true}" th:text="if判断"></span>
    <span th:unless="${flag != true}" th:text="unless判断"></span>

    <table>
        <thead>
            <th>序号</th>
            <th>ID</th>
            <th>姓名</th>
        </thead>
        <tbody>
            <tr th:each="user,stat:${list}" th:style="'background-color:'+@{${stat.odd}?'#F2F3F2'}">
                <td th:text="${stat.count}"></td>
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
            </tr>
        </tbody>
    </table>

    <div>
        <input th:value="${age lt 30 ? '年轻人' : '中年人'}"/>
    </div>

    <div th:switch="${sex}">
        <p th:case="男">男</p>
        <p th:case="女">女</p>
    </div>

    <p th:text="${#request.getAttribute('sex')}"></p>
    <p th:text="${#session.getAttribute('username')}"></p>
    <p th:text="${#locale.country}"></p>

    <p th:text="${#dates.format(date, 'yyyy-MM-dd HH:mm:ss')}"></p>
    <p th:text="${#dates.createNow()}"></p>
    <p th:text="${#strings.isEmpty(username)}"></p>
    <p th:text="${#lists.isEmpty(users)}"></p>
    <p th:text="${#strings.length(username)}"></p>


    <div th:style="'background:url('+@{${img}}+');'">
        <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
    </div>-->

</body>
</html>