<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>欢迎回来！</h1>
    <form action="/classes/save" method="post">
        <table>
            <tr>
                <td>班级名称：</td>
                <td>
                    <input name="name" type="text"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="提交"/>
                </td>
            </tr>
        </table>
    </form>


</body>
</html>