<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>欢迎回来！</h1>
    <table>
        <tr>
            <th>班级编号</th>
            <th>班级名字</th>
            <th>操作</th>
        </tr>
        <tr th:each="classes,stat:${list}">
            <td th:text="${classes.id}"></td>
            <td th:text="${classes.name}"></td>
            <td>
                <a th:href="@{/classes/findById/{id}/(id=${classes.id})}">修改</a>
                <a th:href="@{/classes/deleteById/{id}/(id=${classes.id})}">删除</a>
            </td>
        </tr>
    </table>
    <a href="/classes/redirect/add">新增班级</a>

</body>
</html>